:root {
    /* Default theme */
    --invertSettingsIcon: false;
    --iconhover: white;
    --appBack: #e0e0e0;
    --buttonsBack: #a74c00;
    --buttonsBorder: #a74c00;
    --buttonsBorderStyle: none;
    --buttonsBorderSize: 0px;
    --buttonsHoverBack: #d96200;
    --buttonsHoverText: #fff;
    --buttonsSelectedBack: #d96200;
    --buttonsSelectedText: #fff;
    --buttonsText: #fff;
    --calDaysBack: #fff;
    --calDaysBorder: #a74c00;
    --calDaysHoverBack: #d96200;
    --calDaysHoverText: #fff;
    --calDaysSelectedBack: #d96200;
    --calDaysSelectedText: #fff;
    --calDaysText: #000;
    --calDOWBack: #fff;
    --calDOWBorder: #a74c00;
    --calDOWText: #000;
    --calHeaderBack: #ff7400;
    --calHeaderBorder: #ff7400;
    --calHeaderDivider: #ffb170;
    --calHeaderHoverBack: #d96200;
    --calHeaderHoverText: #fff;
    --calHeaderText: #fff;
    --docBack: #e0e0e0;
    --docBorder: none;
    --foundBack: #ffcda4;
    --foundBorder: lightgray;
    --foundHoverBack: #d96200;
    --foundHoverText: #fff;
    --foundText: #000;
    --listBack: #fff;
    --listBorder: #ff7400;
    --notesBack: #fff;
    --notesBorder: #ff7400;
    --notesHeaderBack: #ff7400;
    --notesHeaderBorder: #ff7400;
    --notesHeaderText: #fff;
    --notesSelectedBack: blue;
    --notesSelectedText: #000;
    --notesText: #000;
    --notesHighlightText: #ffcda4;
    --pagesBack: #fff;
    --pagesBorder: #ff7400;
    --pageBack: #a74c00;
    --pageBorder: lightgray;
    --pageText: #fff;
    --searchBack: #fff;
    --searchBorder: lightgray;
    --searchText: #000;
    --settingsBack: #ffcda4;
    --settingsText: #000;
    --tabBack: #a74c00;
    --tabBorder: none;
    --tabDivider: #a74c00;
    --tabHoverBack: #d96200;
    --tabHoverText: #fff;
    --tabSelectedBack: #ff7400;
    --tabSelectedText: #fff;
    --tabText: #fff;
    --tasksBack: #ffcda4;
    --tasksBorder: #ff7400;
    --tasksSelectedBack: blue;
    --tasksSelectedText: #000;
    --tasksText: #000;
    --tvBack: #ffcda4;
    --tvBorder: lightgray;
    --tvHoverBack: #d96200;
    --tvHoverText: #fff;
    --tvNavBack: #a74c00;
    --tvNavHover: #d96200;
    --tvSelectedBack: #d96200;
    --tvSelectedText: #fff;
    --tvText: #fff;
}

/* #region GLOBAL STYLES */
/* Stop the highlighting of non-input areas. */
.unselectable :not(input):not(textarea) {
    -webkit-user-select: none;
    user-select: none;
} 

input, button, textarea, :focus {
    outline: none; 
}

* {
    margin: 0;
    /*padding: 0;*/
    box-sizing: border-box;
}

html,
body {
    background: var(--appBack);
    font: 13px/1.5 "Helvetica Neue", Helvetica, Arial, san-serif;
    overflow: hidden;
    height: 100%;
}
/*#endregion GLOBAL STYLES */

/* #region LAYOUT STYLES */
.container {
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.boxFillHor {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    padding: 5px;
    min-width: 0%;
    width: 100%;
    min-height: 0%;
    height: 100%;
}

.boxFillVer {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    padding: 5px;
    min-width: 0%;
    width: 100%;
    min-height: 0%;
    height: 100%;
}

.hbox {
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
    padding: 5px;
}

.hboxAuto {
    display: flex;
    flex-direction: row;
    flex: auto;
    margin: auto;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding: 5px;
}

.inputRadio {
    display: flex;
    flex-direction: row;
    flex: auto;
    margin:auto;
    margin-left: 0px;
    justify-content: left;
    align-content: center;
    text-align: left;
    padding: 5px;
    padding-left: 0px;
    max-width: 20px;
}

.labelRadio {
    display: flex;
    flex-direction: row;
    flex: 1 0 auto;
    padding: 5px;
    text-align: left;
    white-space: nowrap;
}

.hboxFill {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    padding: 5px;
    width: 100%;
    overflow: auto;
}

#btnAddDoc {
    justify-content: center;
    align-items: center;
}

.vbox {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    padding: 5px;
}

.vboxFill {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    padding: 5px;
    height: 100%;
    overflow: auto;
}

.flexCenterVert {
    align-items: center;
}

.flexCenterHoriz {
    justify-content: center;
}

.flexMiddle {
    align-items: center;
    justify-content: center;
}

.noMargin {
    margin: 0;
}

.noPadding {
    padding: 0;
}

.border {
    border: solid 1px var(--buttonsBorder) !important;
}

.horizDivider {
    padding: 0;
    width: 5px;
}

.vertDivider {
    padding: 0;
    height: 5px;
}

.indentPadding{
    padding-left: 5px;
}

.flushRight{
    margin-right: 0px !important;
}

.flushLeft{
    margin-left: 0px !important;
}

.overflowAuto {
    overflow: auto;
}

.overflowHidden {
    overflow: hidden;
}

.overflowScrollY {
    overflow-y: scroll;
}

/*#endregion LAYOUT STYLES */

/* #region BUTTONS */
.btn {
    background-color: var(--buttonsBack);
    color: var(--buttonsText);
    padding: 5px;
    border: var(--buttonsBorderSize);
    border-style: var(--buttonsBorderStyle);
    border-color: var(--buttonsBorder);
    text-align: center;
    font-weight: bold;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.btn:hover {
    background-color: var(--buttonsHoverBack);
    cursor: pointer;
    color: var(--buttonsHoverText);
}

.pageItem.btn:hover {
    background-color: var(--pageHoverBack);
    cursor: pointer;
    color: var(--pageHoverText);
}

.btnSmall {
    width: 20px;
}

.botButton {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* #endregion BUTTONS */

/* #region TABS */
.tab {
    margin-left: 1px;
    background-color: var(--tabBack);
    color: var(--tabText);
    padding: 5px;
    border: var(--buttonsBorderSize);
    border-style: var(--buttonsBorderStyle);
    border-color: var(--tabBorder);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 0px;
    text-align: center;
    font-weight: bold;
}

.tab:hover {
    background-color: var(--tabHoverBack);
    cursor: pointer;
    color: var(--tabHoverText);
}

.tabSelected {
    background-color: var(--tabSelectedBack);
    background-image: var(--tabSelectedBack);
    color: var(--tabSelectedText);
}

.tabFooter {
    background-color: var(--tabDivider);
    background-image: var(--tabDivider);
    padding: 0px;
    min-height: 5px;
}
/* #endregion TABS */

/* #region SCROLLBAR */
::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-thumb {
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 9999px;
    background-color: #AAAAAA;
}
/* #endregion SCROLLBAR */

/* #region RESIZING STYLES */
.vsplit {
    min-width:5px;
    background: var(--appBack);
    cursor: ew-resize;
}

.vsplit:hover {
background: var(--buttonsHoverBack);
}
/* #endregion RESIZING STYLES  

/* #region ARROW DIVS */
.div_arrow_up {
    width: 0 !important; 
    height: 0!important; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid rgb(51, 51, 51);
    background-color: transparent !important;
}

.div_arrow_down {
    width: 0 !important; 
    height: 0 !important; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid rgb(51, 51, 51);;
    background-color: transparent !important;
}

.div_arrow_collapse {
    width: 0 !important; 
    height: 0!important; 
    border-top: 5px solid transparent;
    border-right: 10px solid var(--tvNavBack);
    border-bottom: 5px solid transparent;
    background-color: transparent !important;
    margin-top: 7px;
    margin-right: 5px;
}

.div_arrow_collapse:hover {
    border-right: 10px solid var(--iconhover);
}

.div_arrow_expand {
    width: 0 !important; 
    height: 0 !important; 
    border-top: 5px solid transparent;
    border-left: 10px solid var(--tvNavBack);
    border-bottom: 5px solid transparent;
    background-color: transparent !important;
    margin-top: 7px;
    margin-right: 5px;
}

.div_arrow_expand:hover {
    border-left: 10px solid var(--iconhover);
}

/* #endregion ARROW DIVS */

/* #region LEFT SIDE BAR */
#leftSideBar {
    width:230px;
}

/* #endregion LEFT SIDE BAR */

/* #region CAL DIV STYLES */
#cal {
    display: table;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
    width: 100%;
}

#cal .dateSelected {
    background-color: var(--calDaysSelectedBack);
    color: var(--calDaysSelectedText);
}

#cal .header {
    cursor: var(--calHeaderText);
    background: var(--calHeaderBack);
    height: 34px;
    position: relative;
    color: var(--calHeaderText);
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-weight: bold;
    /*text-shadow:0px -1px 0 #87260c;*/
    text-transform: uppercase;
}

#cal .header span {
    display: inline-block;
    line-height: 34px;
}

#cal .header .button {
    width: 24px;
    text-align: center;
    position: absolute;
}

#cal .header .button:hover {
    /*
    background: -moz-linear-gradient(top, #d94215, #bb330f);
	background: -webkit-gradient(linear, left top, left bottom, from(#d94215), to(#bb330f));
    */
    background-color: var(--calHeaderHoverBack);
    cursor: pointer;
}

#cal .header .right.button {
    right: 0;
    top: 0;
    border-left: 1px solid var(--calHeaderDivider);
    border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;

}

#cal .header .now:hover {
    /*
    background: -moz-linear-gradient(top, #d94215, #bb330f);
	background: -webkit-gradient(linear, left top, left bottom, from(#d94215), to(#bb330f));
    */
    background-color: var(--calHeaderHoverBack);
    cursor: pointer;
}

#cal .header .right.now {
    position: absolute;
    width: 24px;
    right: 24px;
    top: 0;
    border-left: 1px solid var(--calHeaderDivider);
    border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
}

#cal .header .left.button {
    left: 0;
    border-right: 1px solid var(--calHeaderDivider);
    border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
}


#cal .header .month-year {
    letter-spacing: 1px;
    width: 100%;
    text-align: center;
}

#cal table {
    background: var(--calDaysBack);
    border-collapse: collapse;
}

#cal td {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid var(--calDaysBorder);
    cursor: default;
    color: var(--calDaysText);
    border-image: var(--calBorder);
}

#cal #day td {
    height: 26px;
    line-height: 26px;
    text-transform: uppercase;
    font-size: 90%;
    color: var(--calDaysSelectedText);
}

.highlightDay {
    background-color: var(--calDaysHighlightedBack);
    color: var(--calDaysHighlightedText) !important;
}

#cal #days {
    width: 100%;
}

#cal #days td:not(:last-child) {
    border-right: 1px var(--calDaysBorder);
}

/*
#cal #cal-frame td.today {
	background:lightcyan;
    color:#2d2d2d;
    box-shadow:1px 1px 0px #fff inset;
	-moz-box-shadow:1px 1px 0px #fff inset;
	-webkit-box-shadow:1px 1px 0px #fff inset;
}
*/

#cal .curr {
    width: 100%;
}

#cal #cal-frame td:not(.nil):hover {
    color: var(--calDaysHoverText);
    /*text-shadow:#6c1a07 0px -1px;*/
    background-color: var(--calDaysHoverBack);
    box-shadow: 0px 0px 0px;
    -moz-box-shadow: 0px 0px 0px;
    -webkit-box-shadow: 0px 0px 0px;
    cursor: pointer;
}

#cal #cal-frame td span {
    font-size: 80%;
    position: relative;
}

#cal #cal-frame td span:first-child {
    bottom: 5px;
}

#cal #cal-frame td span:last-child {
    top: 5px;
}

#cal #cal-frame table.temp {
    position: absolute;
}

#cal #cal-frame table.curr {
    float: right;
}

#selectedDate {
    background: var(--calDaysSelectedBack);
}

#notSelectedDate {
    background: var(--calDaysBack);
}

/* #endregion CAL DIV STYLES */

/* #region NOTES DIV STYLES */

.header {
    background-color: var(--notesHeaderBack);
    color: var(--notesHeaderText);
    text-align: center;
    font-weight: bold;
}

.hide {
    display: none !important;
}

textarea {
    resize: none;
    font: 13px/1.5 "Helvetica Neue", Helvetica, Arial, san-serif;
    margin-top: 1px;
    border-color: var(--notesBorder);
    border-image: var(--titlebarborder);
}

#txtView {
    resize: none;
    font: 13px/1.5 "Helvetica Neue", Helvetica, Arial, san-serif;
    margin-top: 1px;
    border-color: var(--notesBorder);
    border-image: var(--titlebarborder);
}

.notesHeader {
    background: var(--notesHeaderBack);
    color: var(--notesHeaderText);
    text-align: center;
    font-weight: bold;
    padding-left: 5px;
    min-height: 23px;
}

.notes textarea {
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: var(--notesBack);
    color: var(--notesText);
    box-shadow: none;
}

.notes .botButton {
    min-width: 100px;
    margin-left: 5px;
}

.notes .buttons .revertButton {
    width: 100px;
}

    /* #region MARKDOWN STYLES */
.markd table {
    border: 1px solid;
    border-collapse: collapse;
    margin-top: 12px;
}

.markd th {
    border: 1px solid;
    border-color: var(--notesHighlightText);
    padding: 5px;
    background: var(--notesHeaderBack);
    color: var(--notesHeaderText);
    font-weight: bold;
}

.markd td {
    border: 1px solid;
    padding: 5px;
}

.markd blockquote {
    background-color: var(--buttonsHoverBack);
    color: var(--buttonsHoverText);
}

.markd pre {
    background-color: var(--buttonsHoverBack);
    color: var(--buttonsHoverText);
}

.markd a {
    color: var(--notesHighlightText);
}

.markd p {
    margin-top: 12px;
}

.markd ul {
    margin-top: 12px;
}

.markd li ul {
    margin-top: 0px;
}

.markd h1 {
    margin-top: 12px;
}

.markd h2 {
    margin-top: 10px;
}

.markd h3 {
    margin-top: 12px;
}

.markd h4 {
    margin-top: 12px;
}

.markd h5 {
    margin-top: 12px;
}

/* #endregion MARKDOWN STYLES */

/* #endregion NOTES DIV STYLES */

/* #region TASKS DIV STYLES */

#divTasks textarea {
    padding: 3px;
    background-color: var(--tasksBack);
}

.taskSearch {
    width: 230px;
    height: 20px;
}

.btnSelected {
    background: var(--buttonsSelectedBack);
    color: var(--buttonsSelectedText);
}

.selected {
    background-color: var(--buttonsSelectedBack) !important;
    background-image: var(--buttonsSelectedBack) !important;
    color: var(--buttonsSelectedText) !important;
}

.pageSelected {
    background-color: var(--pageSelectedBack) !important;
    background-image: var(--pageSelectedBack) !important;
    border-color: var(--pageSelectedBorder) !important;
    color: var(--pageSelectedText) !important;
}

.tasksButton {
    min-width: 70px;
}

.searchButton {
    min-width: 70px;
}

#txtTasks {
    display: flex;
    font: 13px/1.1 "Helvetica Neue", Helvetica, Arial, san-serif;
    height: 100%;
    color: var(--tasksText);
}

/* #endregion TASKS DIV STYLES */

/* #region SEARCH DIV STYLES */
.searchGoBox {
    padding: 2px 0px 2px 0px;
}

#btnGo {
    padding: 2px;
    width: 50px;
}

#txtSearch {
    height: 25px;
    width: 165px;
    border: 1px;
    background-color: var(--searchBack);
    color: var(--searchText);
    border-style: solid;
    border-color: var(--searchBorder);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-left: 5px;
}

.searchList {
    overflow: auto;
    border-style: solid;
    border-width: 1px;
    border-color: var(--listBorder);
    background-color: var(--listBack);
    height: 100%;
    color: var(--searchText);
}

.pagesList {
    overflow: auto;
    border-style: solid;
    border-width: 1px;
    border-color: var(--pagesBorder);
    background-color: var(--pagesBack);
    height: 100%;
    margin-top: 1px;
}

.srchResultItem {
    background-color: var(--foundBack);
    color: var(--foundText);
    padding: 5px;
    text-align: center;
    border-style: solid;
    border-color: var(--foundBorder);
    border-width: 1px;
    min-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    /*
    border-style: solid;
    border-color: lightgray;
    border-top-left-radius:2px;
	border-top-right-radius:2px;
    border-bottom-left-radius:2px;
    border-bottom-right-radius:2px;
    */
}

.srchResultItem:hover {
    color: var(--foundHoverText);
    background-color: var(--foundHoverBack);
    border-color: var(--foundBorder);
}

/* #endregion SEARCHDIV STYLES */

/* #region SETTINGS BOX */
.settingsIcon:hover {
    cursor: pointer;
}

.settingsBox {
    position: absolute;
    width: 500px;
    height: 250px;
    top: 50%;
    left: 50%;
    margin-left: -250px;
    margin-top: -125px;
    background: var(--settingsBack);
    display: none;
    padding: 1px;
    border: 1px;
    border-style: solid;
    border-color: rgb(126, 126, 126);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
}

.dbSettingsBox {
    padding-left: 80px;
    padding-top: 20px;
}

.settingsWrapper {
    width: 400px;
}

.entryLabel {
    text-align: left;
    padding-right: 5px;
    color: var(--settingsText);
}

.entryLabelTitle {
    text-align: left;
    padding-right: 5px;
    text-decoration: underline;
    font-weight: bold;
    color: var(--settingsText);
}

.entryField {
    padding-left: 5px;
    width: 100%;
    box-sizing: border-box;
}

.settingsClose {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.version {
    font: 10px/1.1 "Helvetica Neue", Helvetica, Arial, san-serif;
}

#settingsSlider {
    box-sizing: border-box;
    position: absolute;
    right: -200px;
    top: 28px;
    bottom: 38px;
    width: 200px;
    overflow: auto;
    padding: 6px;
    background: var(--settingsBack);
    box-shadow: 5px 10px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    color: var(--settingsText);
}

#lbldbFile {
    color: #000;

}

.boxedValue {
    border: 1px;
    height: 19px;
    width: 160px;
    border-style: solid;
    border-color: black;
    background-color: white;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    padding-left: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.browseButton {
    height: 19px;
    font: 10px/1.1 "Helvetica Neue", Helvetica, Arial, san-serif;
    margin-left: 2px;
}

/* #endregion SETTINGS BOX */

/* #region SEARCH RESULT PREVIEW */
.searchPreview {
    color: var(--notesText);
    background-color: var(--notesBack);
    padding: 10px;
    border: 1px;
    border-style: solid;
    border-color: var(--notesText);
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    margin-top: 1px;
}

/* #endregion SEARCH RESULT PREVIEW */

/* #region CONTEXT MENU */
.notesMenu {
    background-color: var(--appBack);
    position: fixed;
    width: 200px;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 2px;
}

.docsMenu {
    background-color: var(--appBack);
    position: fixed;
    width: 200px;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 2px;
}

.docsBorder {
    border-style: solid;
    border-width: 1px;
    border-color: var(--docBorder);
}

.pagesMenu {
    background-color: var(--appBack);
    position: fixed;
    width: 200px;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 2px;
}

.btnMenu {
    text-align: left;
    margin-bottom: 1px;
}
/* #endregion CONTEXT MENU */

/* #region DOCUMENTS */

#txtRename {
    position: fixed;
    border: 1px;
    background-color: var(--notesBack);
    color: var(--notesText);
    border-style: solid;
    border-color: lightgray;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-left: 5px;
}

.pageItem {
    background-color: var(--pageBack);
    color: var(--pageText);
    padding: 5px;
    text-align: center;
    border-style: solid;
    border-color: var(--pageBorder);
    border-width: 1px;
    min-height: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dragTarget {
    background-color: var(--buttonsHoverBack) !important;
}

.dropNotAllowed {
    cursor: not-allowed;
}
/* #endregion DOCUMENTS */

/* #region WAIT IMAGE */
/* The wait image is displayed in the center of the displaying window.*/
#imgWaitImage {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:100px;
    height:100px;
    -webkit-animation: 2s ease 0s normal forwards 1 fadein;
    animation: 2s ease 0s normal forwards 1 fadein;
  }
  
  @keyframes fadein{
    0% { opacity:0; }
    90% { opacity:0; }
    100% { opacity:1; }
  }
  
  @-webkit-keyframes fadein{
    0% { opacity:0; }
    90% { opacity:0; }
    100% { opacity:1; }
  }
/* #endregion WAIT IMAGE */