:root {
    /* Default theme */
    --buttonface: #a74c00;
    --buttontext: #fff;
    --buttonbordersize: 0px;
    --buttonborder: none;
    --buttonbordercolor: #fff;
    --buttonhover: #d96200;
    --buttonhovertext: #fff;
    --titlebar: #ff7400;
    --titletext: #fff;
    --compColor1: #ffb170;
    --compColor2: #ffcda4;
    --notesBGColor: #fff;
    --notesTextColor: #000;
    --bodyColor: #e0e0e0;
    --invertSettingsIcon: false;
    
}
body {
	background: var(--bodyColor);
    font: 13px/1.5 "Helvetica Neue", Helvetica, Arial, san-serif;
    overflow: hidden;
}

textarea {
    outline: 0;
    resize: none;
    font: 13px/1.5 "Helvetica Neue", Helvetica, Arial, san-serif;
}

.btn {
    background-color: var(--buttonface);
    color: var(--buttontext);
    padding: 5px;
    border: var(--buttonbordersize);
    border-style: var(--buttonborder);
    border-color: var(--buttonbordercolor);
    text-align:center;
    font-weight: bold;
    border-top-left-radius:5px;
	border-top-right-radius:5px;
    border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}

.btn:hover {
    /*
    background: -moz-linear-gradient(top, #d94215, #bb330f);
    background: -webkit-gradient(linear, left top, left bottom, from(#dfe373), to(#a7bb0f));
    border-color: #000;
    */
    background-color: var(--buttonhover);
    cursor: pointer;
    color: var(--buttonhovertext);
}

.header {
    background-color: var(--titlebar);
    color: var(--titletext);
    text-align:center;
    font-weight: bold;
}

#cal .dateSelected {
    background-color: var(--titlebar);
    color: var(--titletext);
}

/* #region CAL DIV STYLES */
#cal {
    position: absolute;
    left: 10px;
    top:0px;
    margin:10px auto;
	display:table;
	box-shadow:0px 3px 3px rgba(0, 0, 0, 0.25);
	-moz-box-shadow:0px 3px 3px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow:0px 3px 3px rgba(0, 0, 0, 0.25);
}

#cal .header {
	cursor:var(--titletext);
    background-color: var(--titlebar);
    /*
	background: var(--titlebar);
	background: -moz-linear-gradient(top, #b32b0c, var(--titlebar));
	background: -webkit-gradient(linear, left top, left bottom, from(#b32b0c), to(var(--titlebar)));
    */
	height:34px;
	position:relative;
	color: var(--titletext);
	-webkit-border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	font-weight:bold;
	/*text-shadow:0px -1px 0 #87260c;*/
	text-transform: uppercase;
}
#cal .header span {
	display:inline-block;
	line-height:34px;
}

#cal .header .button {
	width:24px;
	text-align:center;
	position:absolute;
}
#cal .header .button:hover {
	/*
    background: -moz-linear-gradient(top, #d94215, #bb330f);
	background: -webkit-gradient(linear, left top, left bottom, from(#d94215), to(#bb330f));
    */
    background-color: var(--buttonhover);
    cursor: pointer;
}
#cal .header .right.button {
	right:0;
	top:0; 
	border-left:1px solid var(--compColor1);
	border-top-right-radius: 5px;
	-moz-border-radius-topright:5px;
	-webkit-border-top-right-radius: 5px;
    
}

#cal .header .now:hover {
	/*
    background: -moz-linear-gradient(top, #d94215, #bb330f);
	background: -webkit-gradient(linear, left top, left bottom, from(#d94215), to(#bb330f));
    */
    background-color: var(--buttonhover);
    cursor: pointer;
}
#cal .header .right.now {
    position: absolute;
    width: 24px;
	right:24px;
	top:0; 
	border-left:1px solid var(--compColor1);
	border-top-right-radius: 5px;
	-moz-border-radius-topright:5px;
	-webkit-border-top-right-radius: 5px;
}

#cal .header .left.button {
	left:0;
	border-right:1px solid var(--compColor1);
	border-top-left-radius: 5px;
	-moz-border-radius-topleft:5px;
	-webkit-border-top-left-radius: 5px;
}


#cal .header .month-year {
	letter-spacing:1px;
	width:100%;
	text-align:center;
}

#cal table {
	background:var(--notesBGColor);
	border-collapse: collapse;
}
#cal td {
	width:30px;
	height:30px;
	line-height:30px;
	text-align:center;
	border:1px solid var(--buttonbordercolor)/*#e6e6e6*/;
    cursor:default;
    color: var(--notesTextColor);
}

#cal #day td {
	height:26px;
	line-height:26px;
	text-transform:uppercase;
	font-size:90%;
	color:var(--notesBGColor);
}
#cal #days td:not(:last-child) {
	border-right:1px var(--buttonbordercolor);
}

/*
#cal #cal-frame td.today {
	background:lightcyan;
    color:#2d2d2d;
    box-shadow:1px 1px 0px #fff inset;
	-moz-box-shadow:1px 1px 0px #fff inset;
	-webkit-box-shadow:1px 1px 0px #fff inset;
}
*/

#cal #cal-frame td:not(.nil):hover {
	color:var(--titletext);
	/*text-shadow:#6c1a07 0px -1px;*/
    background-color:var(--titlebar);
    /*
	background:var(--titlebar);
	background: -moz-linear-gradient(top, #b32b0c, var(--titlebar));
	background: -webkit-gradient(linear, left top, left bottom, from(#b32b0c), to(var(--titlebar)));
    */
	box-shadow:0px 0px 0px;
	-moz-box-shadow:0px 0px 0px;
	-webkit-box-shadow:0px 0px 0px;
    cursor: pointer;
}
#cal #cal-frame td span {
	font-size:80%;
	position:relative;
}
#cal #cal-frame td span:first-child {
	bottom:5px;
}

#cal #cal-frame td span:last-child {
	top:5px;
}

#cal #cal-frame table.temp {
	position:absolute;
} 

#cal #cal-frame table.curr {
	float:right;
}

#selectedDate {
    background:var(--titlebar);
}

#notSelectedDate {
    background: var(--notesBGColor);
}
/* #endregion CAL DIV STYLES */

/* #region NOTES DIV STYLES */
.notes {
    position:absolute;
    left:250px;
    right:10px;
    top:10px;
    bottom:35px;
}

.notesHeader {
    background-color:var(--titlebar);
    color:var(--titletext);
    text-align:center;
    font-weight: bold;
}

.settingsIcon {
    position: absolute;
    right: 5px;
    top: -2px;
}

.notes .txtNotesArea {
    position:absolute;
    left:0px;
    right:0px;
    top:20px;
    bottom: 15px;
}

.notes textarea {
    width:100%;
    height:100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: var(--notesBGColor);
    color: var(--notesTextColor);
}

.notes .revertButton {
    position: absolute;
    bottom: -25px;
    right: 0px;
    width:100px;
}

.notes .saveButton {
    position: absolute;
    bottom: -25px;
    left: 0px;
    width:100px;
}

.notes .viewButton {
    position: absolute;
    bottom: -25px;
    left: 120px;
    width:100px;
}

.notes .header span {
	display:inline-block;
	line-height:34px;
}

.notes .buttons .revertButton {
    right:0px;
}

/* Markdown view table style */
.notes #txtView table {
    border: 1px solid;
    border-collapse: collapse;
}

.notes #txtView th {
    border: 1px solid;
    border-color: var(--compColor2);
    padding: 5px;
    background-color: var(--titlebar);
    color: var(--titletext);
    font-weight: bold;
}

.notes #txtView td {
    border: 1px solid;
    padding: 5px;
}

.notes #txtView blockquote {
    background-color: var(--buttonhover);
    color: var(--buttonhovertext);
}

.notes #txtView pre {
    background-color: var(--buttonhover);
    color: var(--buttonhovertext);
}

.notes #txtView a {
    color: var(--compColor2);
}

/* #endregion NOTES DIV STYLES */

/* #region TASKS DIV STYLES */
.tasks {
    position:absolute;
    left:10px;
    width:230px;
    top:330px;
    bottom:10px;
}

.tUp {
    top:300px;
}

.tasks textarea {
    position:relative;
    width:100%;
    height:100%;
    padding: 3px;
    box-sizing: border-box;
    background-color: var(--compColor2);
}

.taskSearch {
    position:absolute;
    left:10px;
    width:230px;
    top:293px;
    height:30px;
}

.tsUp {
    top:263px;
}

.btnSelected {
    background-color: var(--buttonhover);
    color:var(--buttonhovertext);
}

.taskSearch .tasksButton {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width:100px;
}

.taskSearch .searchButton {
    position: absolute;
    bottom:0px;
    right: 0px;
    width:100px;
}

.tasksHeader {
    background-color:var(--titlebar);
    color:var(--titletext);
    text-align:center;
    font-weight: bold;
}

.tasks .txtTasksArea {
    position:absolute;
    left:0px;
    right:0px;
    top:20px;
    bottom:0px;
}

#txtTasks {
    font: 13px/1.1 "Helvetica Neue", Helvetica, Arial, san-serif;
}

#tasksLabel {
    background:var(--titlebar);
    color:#fff;
    font-weight: bold;
    
}

/* #endregion TASKS DIV STYLES */

/* #region SEARCH DIV STYLES */
.search {
    position:absolute;
    left:10px;
    width:230px;
    top:330px;
    bottom:35px;
    margin-bottom: 26px;
}

.sUp {
    top:300px;
}

.searchHeader {
    background-color:var(--titlebar);
    color: var(--titletext);
    text-align:center;
    font-weight: bold;
}

.search #btnGo {
    position: absolute;
    padding: 2px;
    top:21px;
    right: 0px;
    width:50px;
}

.search #txtSearch {
    height:23px;
    width:165px;
    border: 1px;
    background-color: var(--notesBGColor);
    color: var(--notesTextColor);
    border-style: solid;
    border-color: lightgray;
    border-top-left-radius:5px;
	border-top-right-radius:5px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    padding-left: 5px;
}

.searchList {
    overflow: auto;
    border-style: solid;
    border-width: 1px;
    border-color: darkgray;
    background-color:var(--notesBGColor);
    height: 100%;
}

.srchResultItem {
    background-color:var(--compColor2);
    color:#000;
    padding: 5px;
    text-align: center;
    border-style: solid;
    border-color: lightgray;
    border-width: 1px;
    /*
    border-style: solid;
    border-color: lightgray;
    border-top-left-radius:2px;
	border-top-right-radius:2px;
    border-bottom-left-radius:2px;
    border-bottom-right-radius:2px;
    */
}
/* #endregion SEARCHDIV STYLES */

/* #region SETTINGS BOX */
.settingsIcon:hover {
    cursor: pointer;
}

.settingsBox {
    position: absolute;
    width:500px;
    height:250px;
    top: 50%;
    left: 50%;
    margin-left: -250px;
    margin-top: -125px;
    background-color: var(--compColor2);
    display: none;
    padding: 1px;
    border: 1px;
    border-style: solid;
    border-color: rgb(126, 126, 126);
    box-shadow:0px 10px 10px rgba(0, 0, 0, 0.25);
	-moz-box-shadow:0px 10px 10px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow:0px 10px 10px rgba(0, 0, 0, 0.25);
}

.dbSettingsBox {
    padding-left: 80px;
    padding-top: 20px;
}

.settingsWrapper {
    width:400px;
}

.entryLabel {
    text-align: left;
    padding-right: 5px;
}

.entryLabelTitle {
    text-align: left;
    padding-right: 5px;
    text-decoration: underline;
    font-weight: bold;
}

.entryField {
    padding-left:5px;
    width: 100%;
    box-sizing: border-box;
}

.settingsClose {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

#settingsSlider {
    box-sizing: border-box;
    position: absolute;
    right: -200px;
    top: 30px;
    bottom: 51px;
    width: 200px;
    overflow: auto;
    padding: 6px;
    background-color: var(--compColor2);
    box-shadow: 5px 10px;
    box-shadow:0px 10px 10px rgba(0, 0, 0, 0.25);
	-moz-box-shadow:0px 10px 10px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow:0px 10px 10px rgba(0, 0, 0, 0.25);
}

/* #endregion SETTINGS BOX */

/* #region SEARCH RESULT PREVIEW */
.searchPreview {
    position: absolute;
    left:0px;
    right:-1px;
    top:20px;
    bottom: 14px;
    color: var(--notesTextColor);
    background-color: var(--notesBGColor);
    display: none;
    padding: 10px;
    border: 1px;
    border-style: solid;
    border-color: var(--notesTextColor);
    overflow-y: scroll;
}
/* #endregion SEARCH RESULT PREVIEW */

/* #region CONTEXT MENU */
.notesMenu {
    background-color: var(--notesBGColor);
    display: none;
    position: fixed;
    padding: 5px 5px 5px 5px;
}
/* #endregion CONTEXT MENU */
